.countryContainer{
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    min-width: none;
    margin: 1rem 0px;
}


.countryList{
    padding-left: 0px ;
    max-width: 200px;
    box-sizing: border-box;
}

.countrySelect{
    width: 200px;
    height: 30px;
    font-size: 18px;
    box-sizing: border-box;
    margin-top: 0.5rem;
}

.country{
    width: 250px;
    border: 1px solid rgb(61, 61, 61);
    border-bottom: 0px;
    font-size: 20px;
    list-style-type: none;
    padding: 5px;
}

.country.lower{
    background-color: #63b6f59f;
}

.country.last{
    border-bottom: 1px solid rgb(61, 61, 61);
}

ul{
    padding: 0px;
}

