.countryContainer{
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    min-width: 200px;
    margin: 1rem 0px;
}


.countryList{
    box-sizing: border-box;
}

.countrySelect{
    max-width: 200px;
    min-width: fit-content;
    height: 30px;
    font-size: 18px;
    box-sizing: border-box;
    margin-top: 0.5rem;
}

.country{
    min-width: fit-content;
    border: 1px solid #8a8a8a;
    border-bottom: 0px;
    list-style-type: none;
    padding: 5px;
    font-size: 18px;
    word-break: keep-all; /* 단어 기준으로 줄바꿈 */
    white-space: normal;  /* 여러 줄 허용 */
}

.country.lower{
    background-color: #e6f1ff;
}

.country.last{
    border-bottom: 1px solid #8a8a8a;
}

.countryLabel {
    font-size: 20px;
    font-weight: 450;
}

ul{
    padding: 0px;
}

