.input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inputContent{
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.inputContainer{
    max-width: fit-content;
    min-width: 100px;
    padding: 10px;
    border: 1px solid #797979;
    background-color: white;
    border-radius: 15px;
}

.inputContainer.quantity{
    margin-bottom: 10px;
}

.ProductInput{
    height: 40px;
    border: 0px;
    border-bottom:solid 1px #cacaca;
    padding: 5px;
    background: transparent;
    font-size: 16px;
    /* border-collapse:collapse; */
}

.ProductInput.quantity{
    padding-right: 3.24em;
}

.CacultateBtn{
    width: 100%;
    max-width: 200px;
    min-width: fit-content;
    background-color: #CFE8FC;
    border: 1px solid #cacaca;
    border-radius: 10px;
    font-size: large;
    padding: 2%;
    margin-bottom: 1rem;
}

.resultLogic{
    max-height: 300px;
    
}