.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    background-color: #f9fbfd;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
.inputContent {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.inputContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 280px;
    padding: 10px 15px;
    border: 1px solid #b0b0b0;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.03);
    font-size: 15px;
}

.inputLabel {
    margin-right: 10px;
    white-space: nowrap;
    font-weight: 500;
}

.ProductInput {
    flex: 1;
    height: 36px;
    border: none;
    border-bottom: 2px solid #c2c2c2;
    padding: 4px 6px;
    font-size: 15px;
    background: transparent;
    transition: border-color 0.3s;
}

.ProductInput:focus {
    outline: none;
    border-bottom: 2px solid #57a6f8;
}

.unitLabel {
    margin-left: 10px;
    white-space: nowrap;
    color: #666;
    font-size: 14px;
}

.CacultateBtn {
    width: 100%;
    min-width: fit-content;
    background-color: #cfe8fc;
    border: 1px solid #b0d4f1;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 500;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
}

.CacultateBtn:hover {
    background-color: #b1d9f7;
}
