.tariffGroup{
    display: flex;
    flex-direction: column;
}

.selectedCard{
    width: auto;
    font-size: 20px;
    border-radius: 15px;
    text-align: center;
}

.textDetail{
    min-width: fit-content;
    border-bottom: 1px solid #959595;
    padding-bottom: 0.3rem;
    margin-bottom: 0.5rem;
    text-align: left;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    word-break: keep-all; /* 단어 기준으로 줄바꿈 */
    white-space: normal;  /* 여러 줄 허용 */
}

.DetailLabel{
    width: fit-content;
    margin-bottom: 0.6rem;
    color: #0B2A4E;
    font-weight: 500;
}

.TariffContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}