.selectedCard{
    width: auto;
    height: 40px;
    font-size: 22px;
    border: 1px solid #5f5f5f;
    border-radius: 15px;
    padding: 3px;
    margin-bottom: 10px;
    text-align: center;
}

.TariffContainer{
    display: flex;
}