.ExampleGroup{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    width: fit-content;
    height: 100%;
    padding: 1rem;
    margin: 2rem;
}

.exampleText{
    font-size: 20px;
    color: #4b4b4b;
}

.exampleTariff{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    
}

.exampleTariff.listContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exampleTariff.list {
    padding: 3px;
    width: 150px;
}

.exampleLogic{
    display: flex;
    flex: 1;
    margin: 1rem;
    font-size: 12px;
}

.exampleContent {
  display: flex;
  flex-direction: row;  
  gap: 1.5rem;              /* ✅ 각 박스 사이 간격 */
  width: 100%;
  margin-top: 1rem;
}

.exampleBox {
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 1.25rem;
  background-color: #fafafa;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}


.exampleAIText {
  font-size: 13px;
  color: #333;
  line-height: 1.6;
}