target/
bin/
out/

*.class

*.log
*.tmp
*.bak

.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/


node_modules/
build/
.env
.env.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store

Thumbs.db
desktop.ini

.metadata

.vscode/

*.swp
*.swo

__pycache__/
*.py[cod]
*$py.class