.keyword{
    border: 0.1rem solid #bdbdbd;
    padding: auto;
    display: inline-block;
    padding: 5px;
    margin: 10px 5px;
    margin-left: 0px;
    border-radius: 5px;
    font-size: 17px;
}

.keyword.interest{
    background-color: #CFE8FC;
}

.keywordLabel {
    font-size: 22px;
}