.keyword{
    border: 2px solid black;
    padding: auto;
    display: inline-block;
    padding: 5px;
    margin: 10px 5px;
    margin-left: 0px;
    border-radius: 5px;
}

.keyword.interest{
    background-color: #CFE8FC;
}
