.socialContainer {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 2rem 0px;
}

.socialIcon {
  width: 48px;
  height: 48px;
  cursor: pointer;
  border-radius: 50%;
  transition: transform 0.2s ease;
}

.socialIcon:hover {
  transform: scale(1.1);
}
