.inputGroup {
  display: flex;
  justify-content: space-between;  
  /* justify-content: flex-end; */
  align-items: center;
  margin-bottom: 1.2rem;
  /* width: 400px;                      */
  font-size: 18px;
}

.loginLabel {
  /* width: 100px;              */
  /* text-align: right; */
  margin-right: 10px;
  color: #0B2A4E;
  font-weight: 600;
}

.loginInput {
  /* flex: 1; */
  height: 2.5rem;
  border: 0;
  border-bottom: 1px solid;
  width: 200px;
}
