.detailPanel {
  display: flex;
  flex-direction: column;
  flex: 2;
  min-width: 400px;
  height: 100%;
  background-color: white;
  box-sizing: border-box;
  border-left: 1px solid #ccc;
  border-radius: 10px 0px 0px 10px;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);

  /* 슬라이딩 효과 */
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 0; /* flex 내부라서 굳이 높일 필요 없음 */
}

/* 패널 보여질 때 */
.detailPanel.open {
  transform: translateX(0);
}

.tabContent {
  height: 100%;
  padding: 1rem;
  flex: 1;
  border: 0.5px solid #959595;
  border-radius: 0px 0px 10px 10px;
  overflow-y: auto; /* 내용 많아지면 스크롤되게*/ 
}

.btnContainer{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.bookmark{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bookmarkMessage {
  margin-right: 0.3rem;
  font-size: 14px;
  color: #63b6f5;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.activeTab{
  padding: 1.2rem
}
