.LoginMain{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 60px;
    justify-content: center;
    align-items: center;
}

.LoginForm{
    display: flex;
    flex-direction: column;
    height: 100%;

}

.LoginBtn{
    margin-top: 0.5rem;
}