.newsPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  padding: 0 12rem;
}

.news-list {
  width: 100%;
  max-width: 1200px;
  margin: 2rem auto;
  overflow-y: auto;
  box-sizing: border-box;
}

.newsCard {
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 1rem;
  padding-top: 0.1rem;
  margin: 2rem 0;
  background-color: #fff;
  transition: transform 0.2s ease;
  word-break: keep-all;
  white-space: normal;
}

.newsCard:hover {
  transform: translateY(-4px);
  background-color: #e2e8f0;
}

.newsTitle {
  padding: 0px;
}

.newsCard-link {
  text-decoration: none;
  color: inherit;
}

