.searchPage {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.searchContainer{
  display: flex;
  flex-direction: row;
}

.searchWrapper {
  display: flex;
  flex-direction: column;
  flex: 2;
  margin: 2rem 4rem;
}

.sideBar {
  border-right: 1px solid #959595;
  position: relative;
  padding: 2rem;
  width: 260px;           /* 고정 너비 */
  flex-shrink: 0;         /* 줄어들지 않도록 설정 */
  box-sizing: border-box;

}


.searchBar {
  margin: 1%;
  margin-bottom: 2rem;
}


.searchContentPanel{
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  position: relative;

}

.card-list{
  margin-top: 1rem;
}

