.searchPage {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.searchContainer{
  display: flex;
  flex-direction: row;
}

.searchWrapper {
  display: flex;
  flex-direction: column;
  flex: 2;
  margin: 2rem 4rem;
}

.sideBar {
    border-right: 1px solid #959595;
    position: relative;
    padding: 2rem;
    width: 20%;
    min-width: 250px;
    max-width: 280px;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.card-list{
  margin-top: 1rem;
}

